@model IEnumerable<BalekShop.Models.Domain.Publisher>
@{
}

<div class="container pt-3">    
    <div class="row">
        <div class="col-md-4">
            <h3>Publishers</h3>
            <table  class="table table-stripped table-bordered table-light">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>PublisherName</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                        <td>
                            <a class="btn btn-primary" href="/Publisher/Update?id=@item.Id"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td>@item.PublisherName</td>
                        <td>                                
                            <a class="btn btn-danger" onclick="return window.confirm('Are you sure?')" href="/Publisher/Delete?id=@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-success" href="/Publisher/Add">New Publisher</a>
        </div>
    </div>
</div>

